# Application
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://kimthinhtran175_db_user:<db_password>@cluster0.xk3vo6w.mongodb.net/shop_quan_ao?retryWrites=true&w=majority&appName=Cluster0

# PayOS (Cổng thanh toán)
PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key

# JWT (Authentication)
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=30d
